# Ignore all .zip files
*.zip

# Ignore the entire PKLot dataset folder

PKLot_YOLORdy/

ModelResults/
runs/
Resources/

Datasets/*
!Datasets/CompleteDataset-YOLORdy/CompleteDataset.yaml

PKLot/*
!PKLot/PKLot.yaml